@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto&display=swap");
html {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  background: #eae7dc;
}

h3,
h4,
h5 {
  font-family: "DM Serif Text", serif !important;
}

.recharts-text {
  font-size: 0.85em;
}

.App {
  text-align: center;
}

.site-title {
  color: #e85a4f;
  font-size: 5rem;
  font-family: "DM Serif Text", serif;
  margin-bottom: 0.1rem;
}
.site-subtitle {
  color: #e98074;
  font-size: 3rem;
  font-family: "DM Serif Text", serif;
  margin-top: 0.1rem;
}

.site-infoblock {
  margin: auto;
}

.site-title-container {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.content-margin {
  padding: 2em;
}

.text-panel {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 1000px) {
  .site-title {
    font-size: 2.5rem;
  }
  .site-subtitle {
    font-size: 1.5rem;
  }
  .site-title-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.map-container {
  width: 100%;
  min-height: 50vh;
  overflow: hidden;

  border-radius: 4px;

  /* this fixes the overflow:hidden in Chrome/Opera */
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

footer {
  padding: 4em;
  text-align: center;
}

.sidebar {
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  margin: 12px;
  border-radius: 4px;
}

.yearlyH2B {
  height: 20em !important;
  margin: 2em;
}

.citation {
  font-family: "Times New Roman", serif;
}
